.box {
  width: calc(50% - 2.5rem);
  min-width: 10rem;
  border: 0.25rem solid coral;
  margin: 1rem;
  padding: 1rem;
  background-color: coral;
  border-radius: 0.5rem;
}

.box.highlight {
  border: 0.25rem solid #fff;
}

.span {
  font-size: 0.7rem;
  font-weight: 700;
  color: lightskyblue;
  vertical-align: super;
}
