.box {
  width: 100%;
  max-width: 32rem;
  border: 0.25rem solid lightsalmon;
  background-color: lightsalmon;
  border-radius: 0.5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.box.highlight {
  border: 0.25rem solid #fff;
}

.container {
  display: flex;
  flex-wrap: auto;
  justify-content: center;
}

.header {
  display: inline-block;
  margin-left: 1rem;
  margin-right: 1rem;
}
